.container {
    margin-bottom: 100px;
}
.orange-bg {
    background-color: #fceae8;
    border-radius: 8px;
}
.carousel-item {
    padding: 20px 40px;
}
.price {
    color: #ff136f;
}
.buy-now-botton {
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;

}
.cat1, .cat2, .cat3 {
    padding: 10px 30px;
    border-radius: 10px;
}
.cat1 {
    background-image: linear-gradient(45deg, orange, red, tomato);
}
.cat2 {
    background-image: linear-gradient(-45deg, rgba(30, 144, 148, 0.514), rgb(180, 102, 102), rgb(202, 80, 31));
}
.cat3 {
    background-image: linear-gradient(60deg, rgb(139, 100, 27), rgb(223, 128, 128), rgb(192, 224, 77));
}
.categories h1 {
    color: #fff;
}

.categories img {
    width: 100px;
}
.card {
    border: none;
    box-shadow: 5px 5px 10px lightgrey;
    border-radius: 8px;
}
.card-footer {
    background-color: #fff;
    border-top: none;
}
#subscribe {
    height: 300px;
}
#subscribe h6 {
    color: grey;
}
footer {
    text-align: center;
}